/* src/styles.css */

/* Reset margins and paddings */
html, body, #root, .App {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
  /* Canvas container */
  .canvas-container {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  /* Slider container */
  .slider-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
  }
  
  .slider-container input[type='range'] {
    width: 100%;
  }
  
  /* Dropzone styles */
  .dropzone {
    border: 2px dashed #cccccc;
    border-radius: 10px;
    padding: 40px;
    background-color: #ffffff;
    opacity: 0.9;
  }
  
  .dropzone p {
    font-size: 18px;
    color: #333333;
    text-align: center;
  }

  /* src/styles.css */

.App {
  position: relative;
  height: 100%;
  width: 100%;
}

.controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
}

.controls button {
  margin: 0 10px;
}

.controls span {
  margin: 0 10px;
}

.controls div {
  margin-top: 5px;
}

/* Ensure the canvas fills the available space */
canvas {
  display: block;
}

/* Add this CSS rule */
.r3f-stats {
  position: absolute !important;
  top: 10px;
  right: 10px;
}